<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} | Symfony Vue JS {% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block main %}{% endblock %}
        {% block javascripts %}
            <script>
                window.base_url = '{{ url("homepage") }}';
            </script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>